.estrutura{
  border-top: 10px solid pink;
  border-bottom: 10px solid purple;
  border-left: 10px solid pink;
  border-right: 10px solid purple ;ss
}

h1{
  font-size: 40px; color: blue; font-family:serif; text-align: center;
  display:

}
header{
  background-color: pink

}
